.detect-report
  padding 0 20px 20px 20px

  .report-inner
    background-color #fff

    .report-steps-wrapper
      position absolute
      top 50%
      left 30px
      width 200px
      height 400px
      transform translateY(-50%)
    .report-content
      padding 20px 0 0 310px

      .report-meta
        margin 12px
        padding 20px
        border 1px solid rgb(235, 238, 245)
        border-radius 4px
        background-color #fff
        box-shadow 0 2px 12px 0 rgba(0, 0, 0, 0.1)
        font-size 14px

        .meta-info
          >div
            padding 10px 0

            .meta-title
              width 150px
              color #666
              color #2a82e4
              text-align left
            .meta-content
              color #999
        .meta-manipulate-wrapper
          .svg-icon
            display block
            font-size 25px
          .manipulate-icon
            fill #2A82E4

            &:hover
              border-radius 50%
              cursor pointer
              fill #44668c
          .manipulate
            margin-top 15px
            line-height 1

            .manipulate-item
              padding-top 15px
              cursor pointer
              fill #A6A6A6

              &:hover
                fill #4391E7
      .report-item
        margin 12px
        border 1px solid #ebeef5
        box-shadow 0 2px 12px 0 rgba(0, 0, 0, 0.1)
        font-size 14px

        .report-header
          padding 10px 20px
          border-bottom 1px solid #ebeef5
          font-size 0

          &.success
            background-color #67c23a
          &.warning
            background-color #e6a23c
          .svg-icon
            vertical-align middle
            font-size 30px
          .report-title
            margin-left 15px
            vertical-align middle
            font-size 20px
        .report-body
          padding 10px 20px
      .report-basic
        .basic-body
          .basic-list
            >li
              padding 10px 0
              color #666

              .field
                display inline-block
                width 150px
                color #2a82e4
              .description
                color #999
      .report-sensi
        .sensi-body
          .sensi-type
            padding 10px 0

            >.title
              padding-bottom 15px
              vertical-align middle
              font-weight 600
              font-size 16px
              line-height 25px

              &::before
                display inline-block
                margin-right 8px
                width 3px
                height 25px
                background-color #73ADED
                content ''
                vertical-align middle
            .box-card
              .sensi-feature-title
                color #2a82e4
                font-size 15px
            .development-trace-item
              padding 10px 0

              .title
                width 250px
                color #2a82e4
              .aaa
                color #000
      .report-anti
        .anti-body
          .anti-screenshot
            width 600px
            height 450px
          .dynamicInfo
            .description-item
              text-align left